<div class="about-slide">
  <h1 class="section-title">Что такое <span>Da!</span></h1>
  <div class="section-contents">
    <p>В современном глобальном мире нужны новые идеи, объединяющие людей, желающих жить в мире и дружбе, независимо от их национальности и страны проживания. Эти идеи можно реализовать сегодня в интернете – всемирном информационном пространстве — путем создания сайтов, где люди смогут делать шаги навстречу друг другу, привносить в ежедневное общение тепло своих душ и делиться друг с другом своими светлыми впечатлениями и моментами.<br />Мы — движение добровольцев «Скажи миру Da!», помогаем нуждающимся людям словом и делом и совместно предлагаем начать с России — с простого русского слова «Da!» для каждого, кто пришел в этот мир с добрыми намерениями. Именно поэтому, мы выбрали своим общим девизом слоган — «Скажи миру Da!»</p>
  </div>
</div>
