<div class="companies-slide">
  <h1 class="section-title">Что такое компании <span>Da!<span></h1>
  <div class="section-contents">
    <p>В современном глобальном мире нужны новые идеи, объединяющие
    людей, желающих жить в мире и дружбе, независимо от их
    национальности и страны проживания. Эти идеи можно реализовать
    сегодня в Интернете – всемирном информационном пространстве ‒
    путем создания сайтов, где люди смогут делать шаги навстречу друг
    другу, привносить в ежедневное общение тепло своих душ и делиться
    друг с другом своими светлыми впечатлениями и Mоментами.</p>
  </div>

  <div class="companies-tiles">
    <p class="section-caption">Принципы для всех компаний, 
    которые хотят участвовать в волонтерском движении «Скажи миру Da!»:</p>

    <div class="companies-tile">
      <img src="/img/icons/com_01.svg" class="tile-image">
      <p>оказание льготных, в том числе, бесплатных, услуг детям до 6 лет</p>
    </div>

    <div class="companies-tile">
      <img src="/img/icons/com_02.svg" class="tile-image">
      <p>организация доступа к услугам для людей с ограниченными
      возможностями здоровья, льготное предоставление им этих услуг</p>
    </div>

    <div class="companies-tile">
      <img src="/img/icons/com_03.svg" class="tile-image">
      <p>забота об окружающей среде (зеленый офис, бережное
      отношение к ресурсам и т.д).</p>
    </div>

  </div>
</div>
<div class="companies-stories">
  <h2 class="section-title">Примеры компаний <span>Da!</span></h2>
  <div class="section-contents">

    <div class="companies-story-flow">

      <div class="companies-story" ng-repeat="c in companies">
        <a class="companies-story-link" href="{{c.url}}">
          <div class="companies-story-well">
            <div class="companies-story-description">{{c.description}}</div>
            <div class="companies-story-logo" back-img="{{c.logo}}"></div>
          </div>
        </a>
      </div>

    </div>

  </div>

  <h2 class="section-title post-section-title">Стать компанией <span>Da!</span></h2>
</div>

<div class="companies-responce-form">
  <p>Напишите свою почту и мы свяжемся с вами</p>
  <div class="resp-form">
    <input class="form-control flat input-hg" type="text" placeholder="Например, info@inbox.ru"></input>
    <button class="btn btn-primary btn-hg" type="submit">Отправить</button>
  </div>

</div>

<div class="companies-description">
  <h1 class="section-title">Зачем вам быть компанией <span>Da?<span></h1>
  <div class="section-contents">
    <p>Движение добровольцев «Скажи миру — DA» — объединяет сотрудников
коммерческих компаний, однако все компании участники должны нести
социальную ответственность.</p>
    <p>Марку «DA» - означает высокий уровень развития бизнеса — social proof.
Позиционирование — улучшение имиджа частного бизнеса в РФ,
придание «человеческого лица» коммерческим компаниям, сплочение
сотрудников компаний общей идеей — стираем границы вместе.</p>
  </div>
</div>
