<!-- <div class="container&#45;fluid&#45;right text&#45;inverse"> -->
<div id="fullpage">

  <div class="section" id="section1">
    <!-- <div class="para&#45;slide" id="para&#45;slide1"></div> -->
    <div class="section-inner">
      <h1>Наши <br/><span>добровольцы</span></h1>
      <p class="lead">Наши добровольцы на раздаче еды для бездомных <br/>и малоимущих людей</p>
    </div>
  </div>

  <div class="section" id="section2">
    <!-- <div class="para&#45;slide" id="para&#45;slide2"></div> -->
    <div class="section-inner">
      <h1>Помогаем <br/><span>детям</span></h1>
      <p class="lead">Фотография с последней акции в детском доме 35</p>
    </div>
  </div>

  <div class="section" id="section3">
    <div class="section-inner">
      <h1>Помогаем по <br/><span>всему миру</span></h1>
      <p class="lead">Страны, где мы ведем волонтерскую деятельность: <br/>Россия, Великобритания, Финляндия, Украина, Грузия, <br/>Армения, Беларусь, Казахстан</p>
    </div>
  </div>

</div>
<!-- </div> -->
