<div class="volunteers-slide">
  <h1 class="section-title">Что такое быть <span>добро­вольцем?<span></h1>
  <div class="section-contents">
    <p>Направления волонтерской работы:</p>
    <h1><span>1<span></h1>
    <p>Работа с детскими домами и домами престарелых</p>
    <h1><span>2<span></h1>
    <p>Работа с приютами для животных</p>
    <h1><span>3<span></h1>
    <p>Озеленение и благоустройство. Чистый город.</p>
    <h1><span>4<span></h1>
    <p>Донорство</p>
    <h1><span>5<span></h1>
    <p>Культурное волонтерсов-развивающие мастер-классы, конкурсы, обучение
интостранным языкам</p>
  </div>

  <div class="volunteers-tiles">
    <p class="section-caption">Преимущества от</p>

    <div class="volunteers-tile">
      <img src="/img/icons/vol_01.svg" class="tile-image">
      <p>Помогать людям</p>
    </div>

    <div class="volunteers-tile">
      <img src="/img/icons/vol_02.svg" class="tile-image">
      <p>Саморазвитие – мы предоставляем
      возможность обучения для волонтеров, нащ
      девиз - развивайся как личность! Возможно
      приобрести навыки новых профессий,
      можно даже выучить новые языки</p>
    </div>

    <div class="volunteers-tile">
      <img src="/img/icons/vol_03.svg" class="tile-image">
      <p>Расширение кругозора – мы
      проводим открытые лекции
      и культурные мастер-классы
      о странах и путешествиях.</p>
    </div>

  </div>
</div>
<div class="volunteers-stories">
  <h2 class="section-title">Истории добровольцев</h2>
  <div class="section-contents">

    <div class="volunteers-story" ng-repeat="r in responces">
      <div class="volunteers-story-person">
        <div class="volunteers-story-photo" back-img="{{r.photo}}"></div>
        <p>{{r.author}}</p>
      </div>
      <div class="volunteers-story-well">
        <p>{{r.content}}</p>
      </div>
    </div>

  </div>

  <h2 class="section-title post-section-title">Стать добровольцем</h2>
</div>

<div class="volunteers-responce-form">
  <p>Напишите свою почту и мы свяжемся с вами</p>
  <div class="resp-form">
    <input class="form-control flat input-hg" type="text" placeholder="Например, info@inbox.ru"></input>
    <button class="btn btn-primary btn-hg" type="submit">Отправить</button>
  </div>
</div>

<div class="volunteers-description">
  <h1 class="section-title">Зачем вам быть <span>добро­вольцем?<span></h1>
  <div class="section-contents">
    <p>Движение добровольцев «Скажи миру — DA» — объединяет сотрудников
коммерческих компаний, однако все компании участники должны нести
социальную ответственность.</p>
    <p>Марку «DA» - означает высокий уровень развития бизнеса — social proof.
Позиционирование — улучшение имиджа частного бизнеса в РФ,
придание «человеческого лица» коммерческим компаниям, сплочение
сотрудников компаний общей идеей — стираем границы вместе.</p>
  </div>
</div>
