// General
html, body {
  height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
display: none !important;
}

.blacktitle() {
  color: fade(@brand-primary, 80%);

}

.clearfix() {
  &:before,
    &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.view-container {
  height: 100%;
}

.sidelogo {
    background: url(/img/icons/da.svg) no-repeat center;
    background-size: 139px 157px;

    width: 250px;
    height: 250px;
}

.sidebar {
  top: 0;
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: @accented;
  z-index: 5;

  transition: left 1s ease;
}
@media only screen 
and (max-width : 800px) {
  .sidebar {
    display: none;
  }
}

.sidebar-left {
  &:extend(.sidebar);
  left: 0;

  border-right-width: 8px;
  border-right-style: solid;
  border-right-color: @acc-shadowed;

}

.sidebar-right {
  &:extend(.sidebar);
  left: 100%;
  margin-left: -250px;

  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: @acc-shadowed;
}

.sidebar-hidden {
  display: none;
}

.sidebar-navigation {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;

  li {
    padding: 14px 0px;
  }
  li.active > a {
    color: @pomegranate;
  }

  li > a {
    color: white;
  }
  li > a:hover {
    color: @pomegranate;
  }
}

.trans {
  transition: margin-left 1s, margin-right 1s ease;
}

.container-f {
  .clearfix();
}
@media only screen 
and (max-width : 800px) {
  .container-f {
    margin: 0 !important;
  }
}

.container-fluid-full {
  &:extend(.container-f all);
  margin-left: 0;
  margin-right: 0;
}

.container-fluid-left {
  &:extend(.container-f all);
  margin-left: 0;
  margin-right: 250px;

}

.container-fluid-right {
  &:extend(.container-f all);
  margin-left: 250px;
  margin-right: 0;
}

//-----------------------------------------------

.landing-container {
  &:extend(.container-fluid-right all);

  height: 100%;
}

.section-inner {
  height: 100%;
  top: 50%;
  position: relative;
  padding-left: 2em;

  .lead {
    color: @inverse;
  }
}

#section1 {
  background-image: url(/img/slider1.jpg);
  background-size: cover;
}

#section2 {
  background-image: url(/img/slider2.jpg);
  background-size: cover;
}

#section3 {
  background-image: url(/img/slider3.jpg);
  background-size: cover;
}

//-----------------------------------------------

.actions-container {
  &:extend(.container-fluid-left all);

  padding: 6px;
  height: 100%;
}

.masonry-brick {
  width: 50%;
  padding: 6px;
}
@media only screen 
and (min-width : 1250px) {
  .masonry-brick {
    width: 33.33%;
  }
}
@media only screen 
and (max-width : 550px) {
  .masonry-brick {
    width: 100%;
  }
}


.masonry-brick-image {
  background-color: black;

  > img {
    opacity: 0.6;
    width: 100%;
  }
}


.masonry-brick-title {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 3;
  padding: 24px 36px 12px 24px;
  bottom: 0;

  h1 {
    font-size: 45px;
    line-height: 0.9em;
    color: fade(@inverse, 40%);
  }
}
@media only screen 
and (max-width : 1000px) {
  .masonry-brick-title {
    h1 {
      font-size: 38px;
    }
  }
}


.masonry-brick-popup {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0 6px;

  transition: all 1s ease;
}

.masonry-brick-popup-container {
  background-color: fade(@inverse, 90%);
  padding: 16px 10px 10px 10px;


  &:after{
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 36px;
    width: 0;
    height: 0;
    border-color: transparent transparent fade(@inverse, 90%) transparent;
    border-style: solid;
    border-width: 15px;
  }

  .description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
  }

  .actionbar {
    margin-top: 20px;
    margin-bottom: 6px;

    .lead {
      float: right;
      color: @acc-bordered;
      font-weight: 300;
      font-size: 12.5px;

      span {
        font-weight: 700;
        font-size: 21px;
      }
    }
  }
}

// About -----------------------------------------------

.about-container {
  &:extend(.container-fluid-left all);

  height: 100%;
}

.about-slide {
  .clearfix();

  background-image: url(/img/about.jpg);
  background-size: cover;
  background-position: center;

  text-align: center;
  min-height: 100%;

  color: @inverse;

  .section-title {
    padding-bottom: 55px;
    max-width: 375px;
    margin: 0 auto
  }

  .section-contents {
    padding: 0 4.5%;
  }

  padding: 17%;
}

@media only screen 
and (max-width : 1000px) {
  .about-slide {
    padding: 17% 8.5%;
  }
}

// Volunteers -----------------------------------------------

.volunteers-container {
  &:extend(.container-fluid-left all);

  height: 100%;
}

.volunteers-slide {
  .clearfix();

  background-image: url(/img/volunteers.jpg);
  background-size: cover;
  background-position: top;

  text-align: center;
  min-height: 100%;

  color: @inverse;

  font-weight: 300;

  h1 {
    padding-bottom: 27px;
    margin: 0 auto;
  }

  .section-title {
    padding-bottom: 55px;

    min-width: 500px;
    max-width: 700px;
  }

  .section-contents {
    padding: 0 22%;
  }

  padding: 5%;
}

@media only screen 
and (max-width : 800px) {
  .volunteers-slide {
    .section-title {
      min-width: 320px;
      max-width: 450px;
    }

    .section-contents {
      padding: 0 8%;
    }
  }
}


.volunteers-tiles {
  margin-top: 7.5%;

  .section-caption {
    padding: 0 22%;
  }
}

.volunteers-tile {
  display: inline-block;
  width: 32%;
  vertical-align: top;

  p {
    font-size: 12.5px;
    line-height: 1.25;
    padding: 0 12.5px;
    max-width: 195px;
    margin: 0 auto;
  }

  .tile-image {
    height: 142px;
    margin-top: 36px;
    margin-bottom: 18px;
  }
}

@media only screen 
and (max-width : 800px) {
  .volunteers-tile {
    display: block;
    width: 80%;
    margin: 0 auto;

    p {
      font-size: 15px;
      line-height: 1.5;
      max-width: 100%;
    }
  }
}

.volunteers-stories {
  .clearfix();

  background-color: @gray-soft;
  text-align: center;

  .section-title {
    text-transform: uppercase;
    font-family: @font-family-base;
    color: @brand-secondary;
    font-size: 15px;
    font-weight: 700;

    padding: 24px 0 36px 0;

    span {
      text-transform: none !important;
    }
  }

  .post-section-title {
    padding: 15px 0 22px 0;
  }

  .section-contents {
    margin: 0 6.5% 0 11.5%;
  }
}

@media only screen 
and (max-width : 1000px) {
  .volunteers-stories {
    .section-contents {
      margin: 0 6.5%;
    }
  }
}

.volunteers-story {
  &:nth-of-type(odd) {
    .volunteers-story-person {
      float: left;
      margin-left: -20px;

    }
    .volunteers-story-well {
      margin-left: 160px;
    }
    .volunteers-story-well:before {
      left: -7px;
    }
    .volunteers-story-well:after {
      left: 0;
    }

  }
  &:nth-of-type(even) {
    .volunteers-story-person {
      float: right;
      margin-right: -20px;

    }
    .volunteers-story-well {
      margin-right: 160px;
    }
    .volunteers-story-well:before {
      right: -7px;
    }
    .volunteers-story-well:after {
      right: 0;
    }

  }
}

.volunteers-story-person {
  display: inline-block;

  p {
    width: 150px;
    font-size: 15px;
    margin: 15px auto;
  }
}

@media only screen
and (max-width : 800px) {
  .volunteers-story-person {
    display: block !important;
    float: none !important;
    margin: 0 !important;
  }
}

.volunteers-story-photo {
  background-size: cover;
  background-position: center;

  height: 110px;
  width: 110px;

  border-radius: 110px;
  margin: 0 auto;
}

.volunteers-story-well {
  &:extend(.well all);

  position: relative;
  background-color: @inverse;
  margin-bottom: 32px;

  text-align: left;
  padding: 21px;

  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);

  border-width: 0;
  border-radius: 10px;

  min-height: 150px;
}
.volunteers-story-well:before {
  content: "";
  position: absolute;
  background: @inverse;

  top: 45px;
  height: 20px;
  width: 20px;

  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
  transform: rotate(45deg) skew(10deg, 10deg);
  border-radius: 3px;
}
.volunteers-story-well:after {
  content: "";
  position: absolute;
  background: @inverse;

  width: 20px;
  height: 100%;

  top: 0;

  border-radius: 10px;
}

@media only screen
and (max-width : 800px) {
  .volunteers-story-well {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .volunteers-story-well:before {
    top: -7px !important;
    left: 50% !important;
    margin-left: -10px;
    transform: rotate(-45deg) skew(10deg, 10deg) !important;
  }
  .volunteers-story-well:after {
    width: 100% !important;
    height: 20px !important;
  }
}

.volunteers-responce-form {
  .clearfix();

  background-color: @brand-secondary;
  color: @inverse;

  padding: 30px 2.5% 30px 6.5%;

  p {
    font-size: 15px;
  }

  .resp-form {
    margin-top: 30px;
    margin-right: 240px;

    button {
      position: absolute;
      display: inline-block;

      width: 214px;
      margin-left: 26px;

      margin-bottom: 30px;
    }

    input {
      display: inline-block;

      margin-bottom: 30px;
    }
  }
}

@media only screen
and (max-width : 800px) {
  .volunteers-responce-form {
    .resp-form {
      margin-right: 0px;

      button {
        position: relative;
        display: block;

        width: 100%;
        margin-left: 0;
      }

      input {
        display: block;
      }
    }
  }
}

.volunteers-description {
  .clearfix();

  background-color: @gray-soft;

  padding: 2.5% 17.5%;


  .section-title {
    .blacktitle();

    margin-bottom: 80px;
    margin-right: -15%;

    min-width: 500px;
    max-width: 750px;
  }

  .section-contents {
    p {
      margin: 30px 0;
    }

  }
}

@media only screen 
and (max-width : 1000px) {
  .volunteers-description {
    padding: 2.5% 8.5%;
    .section-title {
      margin-right: -7.55%;
    }
  }
}

@media only screen 
and (max-width : 800px) {
  .volunteers-description {
    .section-title {
      min-width: 320px;
      max-width: 480px;
    }
  }
}

// Companies -----------------------------------------------

.companies-container {
  &:extend(.volunteers-container all);
}

.companies-slide {
  &:extend(.volunteers-slide all);

  background-image: url(/img/companies.jpg);
}

.companies-tiles {
  &:extend(.volunteers-tiles all);
}

.companies-tile {
  &:extend(.volunteers-tile all);
}

.companies-stories {
  &:extend(.volunteers-stories all);

  .section-contents {
    margin: 0 1.5% 0 4.5%;
  }

}

@media only screen 
and (max-width : 1000px) {
  .companies-stories {
    .section-contents {
      margin: 0 1.5%;
    }
  }
}

.companies-story {
  width: 250px;
  height: 400px;

  display: inline-block;
  padding: 8px;
}

.companies-story-link {
  color: @brand-primary;

  &:hover {
    .companies-story-well {
      transition: all 1s ease;
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.08) !important;
    }
  }
}

.companies-story-well {
  &:extend(.volunteers-story-well);

  padding-top: 75px;
  margin-bottom: 0px;

  height: 384px;
}

.companies-story-description {
  position: absolute;

  left: 0;
  top: 64%;

  height: 33%;
  width: 100%;

  padding: 14px;

  overflow: hidden;

  text-align: center;
  font-weight: 300;
  font-size: 16px;
}
// @media only screen 
// and (max-width : 1250px) {
//   .companies-story-description {
//     font-size: 12.5px;
//   }
// }

.companies-story-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  width: 100%;
  height: 50%;
}

.companies-responce-form {
  &:extend(.volunteers-responce-form all);
}

.companies-description {
  &:extend(.volunteers-description all);
}

// Action -----------------------------------------------

.action-container {
  &:extend(.container-fluid-full all);

  height: 100%;
}

.action-slide {
  .clearfix();

  background-image: url(/img/action.png);
  background-size: cover;
  background-position: center;

  text-align: left;
  height: 100%;

  color: @inverse;
  font-weight: 300;

  .backwards-title {
    font-size: 25px;
  }

  padding: 2% 4%;
}

.action-description {
  position: absolute;
  top: 40%;
  background-color: fade(@gray-soft, 90%);
  width: 70%;
  margin: 0 15%;

  min-height: 50%;
  padding: 22px;

  h1 {
    color: @brand-primary;
    font-size: 50px;
    margin-top: 16px;
  }

  p {
    font-size: 18px;
  }
}

.action-description-date {
  font-size: 15px;

  span {
    color: @accented;
  }
}

.action-description-subtitle {
  font-size: 15px;
  text-transform: uppercase;
}

.line-separator {
  height: 1px;
  background: @accented;
  margin: 55px 0 34px 0;
}

.action-description-news {
  h1 {
    font-size: 29px;
    font-weight: 100;
    font-family: @font-family-base;
    color: @accented;
    margin-bottom: 6px;
  }

  margin-bottom: 48px;
}

.red-companies-story-well {
  &:extend(.companies-story-well all);

  color: @inverse;
  background-color: @accented;
  padding: 21px;
  text-align: center;

  button, input {
    width: 100%;
    margin: 10px 0;
  }
  input {
    margin-top: 20px;
  }
}

.red-companies-story-mail {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  width: 100%;
  height: 35%;

  margin: -10px auto 0 auto;
}

.companies-story-description-add {
  &:extend(.companies-story-description all);

  button > span {
    font-weight: 300;
    color: @brand-primary;
  }
}

.action-stories {
  &:extend(.companies-stories all);

  .section-title {
    margin: 0;
  }
  .section-contents {
    margin: 0 -25%;
  }
}

.action-story-flow {
  &:extend(.companies-story-flow all);
}

.action-story {
  &:extend(.companies-story all);
}

.action-story-well {
  &:extend(.companies-story-well all);

  padding: 0;
}

.action-story-shirt {
  background-color: @accented;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  width: 100%;
  height: 60%;

  padding-top: 30%;
  text-align: center;
}

.action-story-shirt-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  width: 100%;
  height: 40%;

  margin: 0 auto;
}

.action-story-shirt-title {
  margin-top: 10%;
  color: @inverse;
  font-weight: 100;
  font-size: 21px;
}

.action-story-pants {
  position: absolute;
  width: 100%;
  height: 24%;
  overflow: hidden;
  padding: 12px;
  p {
    font-size: 16px;
  }
}

.action-story-actionbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 12px;

  button {
    float: right;
    margin-bottom: 12px;
  }
  .lead {
    overflow: hidden;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    margin-top: 2px;

    span {
      color: @acc-bordered;
    }
  }
}
.action-story-actionbar-done {
  position: absolute;
  width: 100%;
  bottom: 30px;
  padding: 0 12px;
  text-align: center;

  .lead {
    overflow: hidden;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    margin-top: 2px;

    span {
      color: @acc-bordered;
      font-size: 36px;
    }
  }
}


.companies-story-flow {
  max-width: 1200px;
  margin: 0 auto;
}




.flip-container {
  perspective: 1000;
  display: inline-block;
}
.flip-container.active .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 250px;
  height: 400px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

