.sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: @accented;
  z-index: 5;
}

.sidebar-left {
  &:extend(.sidebar);
  left: 0;

  border-right-width: 8px;
  border-right-style: solid;
  border-right-color: @acc-shadowed;

}

.sidebar-right {
  &:extend(.sidebar);
  right: 0;

  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: @acc-shadowed;

}

.sidebar-navigation {
  position: fixed;
  margin-top: 20%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;

  li {
    padding: 14px 0px;
  }

  li > a {
    padding: 14px 0px;

    color: white;
  }
  li > a:hover {
    color: @pomegranate;
  }
}

.container-fluid {
  margin-left: 250px;
  margin-right: 0;

  height: 3000px;

  padding: 0;
  background-color: @gray;
}

.body-wrapper {
  background-image: url(http://pabook.libraries.psu.edu/palitmap/BigMacSandwich.jpg);
}

.section-inner {
  height: 100%;
  top: 50%;
  position: relative;
  padding-left: 2em;

  h1 {
    color: fade(#ffffff, 80%);

    span {
      color: fade(@accented, 80%);
    }

  }
}

#section1 {
  background-image: url(/img/parallax/1_back.png);
  background-size: cover;
}

#section2 {
  background-image: url(/img/parallax/2_back.png);
  background-size: cover;
  z-index: 2;
}

#para-slide1 {
  position: absolute;
  background-image: url(/img/parallax/1_fore.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
}

#para-slide2 {
  position: absolute;
  background-image: url(/img/parallax/2_fore.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
}

//-----------------------------------------------

.container-most {
  margin-left: 0;
  margin-right: 250px;

  padding: 6px;
}

.container-actions {

}

.action-card {
  width: 50%;

  padding: 6px;

  > img {
    width: 100%;
  }

}

.action-content {
  width: 100%;
  position: relative;
  display: block;

}

#action-01 {
  background-image: url(http://www.moooi.com/sites/default/files/styles/large/public/randomlight300c_0.jpg);
  background-size: cover;
}
